# package directories TODO excute by ThienNLNT - 24-10:
node_modules
jspm_packages

# Serverless directories TODO excute by ThienNLNT - 24-10:
.serverless

# Webpack directories TODO excute by ThienNLNT - 24-10:
.webpack

# Local DynamoDb TODO excute by ThienNLNT - 24-10:
.dynamodb
